h1{
    text-align: center;
    background-image: url(../assets/nyan-cat.gif);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
    
}